#conteudo {width: 100%;
    height: 100%;
    position: fixed;
    color: aliceblue;
    background-image:url('img/coração-fotos.png');
    
    left: 0;
    top: 0;
    padding: 15px;
    text-align: center;

        width: 1324px;
        height: 630px;
        position: fixed;
        color: aliceblue;
        background-image: 
            url('img/ads.png'), 
            url('img/fundo.png'); 
        background-color: black;
        background-size: 
            100%,   
            cover; 
        background-position: 
            center,  
            center;  
        background-repeat: 
            no-repeat,
            no-repeat;
        left: 0;
        top: 0;
        padding: 15px;
        text-align: center;

        color: black;
    font-family: sans-serif;

    }

    .btn {    background: black;
    color: aliceblue;
    border: none;
    padding: 10px;
    width: 80px;
    border-radius: 5px;}
    
    
    